* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #04f7f7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .card{
    height: 500px;
    width: 800px;
    background-color: #4753bd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card .password {
    height: 50px;
    width: 500px;
    margin-top: 7%;
    border-radius: 75px;
    color: rgb(206, 188, 23);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 4px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
}

.container .card .incredecre {
    display: flex;
    align-items: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    width: 100px;
    margin-top: 2%;
    color: rgb(206, 188, 23);
    font-family: poppins;
    font-size: 1.5rem;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.container .card .text {

font-family: 'Source Serif Pro', serif;
color: whitesmoke;
font-size: 2rem;
margin-top: 2%;

}

.container .card .button button {

    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: #ffbb00;
    font-family: Poppins;
    letter-spacing: 2px;
    color: white;
    border: none;
    cursor: pointer;
}


.container .card .button {

    margin-top: 5%;
    
}


.container .card .icons {

    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;


}

.container .card .icons i{

    font-size: 2rem;
    border: 2px solid #ffbb00;
    color: #ffbb00;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    cursor: pointer;
}

.container .card .icons i:hover {

    background-color: #ffbb00;
    color: white;
    transition-duration: 0.5s;

}

.container .card .footer {

    font-family: poppins;
    font-weight: lighter;
    color: white;
    font-size: 1.2rem;
    margin-top: 3%;
}

#gen {

    font-size: 21px;
    color: black;
}

